<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="mystyle.css">
    {% load static %}

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Base</title>
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="navbar-nav">
        <a class="navbar-brand" href="{% url 'basic_app:list' %}">Schools</a>
        <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
        <a class="nav-item nav-link" href="{% url 'basic_app:test' %}">test</a>

      </div>
    </nav>
    <div class="container">

      {% block body_block %}
      {% endblock %}

    </div>

  </body>
</html>
